<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>
    <!-- Navbar -->

    <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <!-- <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li> -->
        <!-- <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li> -->
      </ol>

      <!-- Carousel wrapper -->
      <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
          <!-- <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li> -->
          <!-- <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li> -->
        </ol>

        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
          <div class="carousel-item active">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center">
                  <h1 class="mb-2">Enriching lives around the World</h1>
                  <h4 class="mb-5">with Artificial Intelligence & Information and Communication Technology</h4>
                  <h5 class="mb-4">#AIForSocialGood</h5>
                  <a class="btn btn-outline-light btn-lg m-2" href="/research" role="button" rel="nofollow" target="_blank">Explore our Research</a>
                  <a class="btn btn-outline-light btn-lg m-2" href="/team" target="_blank" role="button">Meet our Team</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <!-- <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>You can place here any content</h2>
              </div>
            </div>
          </div>
        </div> -->

          <!-- Single item -->
          <!-- <div class="carousel-item">
          <div class="mask" style="
                background: linear-gradient(
                  45deg,
                  rgba(29, 236, 197, 0.7),
                  rgba(91, 14, 214, 0.7) 100%
                );
              ">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>And cover it with any mask</h2>
                <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/content-styles/masks/" target="_blank" role="button">Learn
                  about masks</a>`1
              </div>
            </div>
          </div>
        </div>
      </div> -->
          <!-- Inner -->

          <!-- Controls -->
          <!-- <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->
          <!-- Carousel wrapper -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container text-center">
      <!--Section: Content-->
      <section>
        <div class="row">
          <!-- <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div> -->

          <div class="col-md-12 gx-5 mb-4">
            <h4><strong>About Us</strong></h4>
            <p class="text-muted">
              JUSense is a team of enthusiastic members on a mission to utilise state-of-the-art artificial intelligence for societal benefits.
              We focus on basic and advansed research in a multitude of areas including IoT-Cloud, Social Network Analysis and Geoinformatics.
              Our research focuses on using computer algorithms, machine learning, deep learning and data science to understand the complex multi-modal (sensor, image, audio, text, etc.) data collected by us.
              Our members include Ph.D. scholar, masters and undergaduate students of the Computer Science and Engineering department of Jadavpur University and other institutes and organizations.
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>In the Spotlight</strong></h4>

        <div class="row align-items-center">
          <% for (let i=0;i<3;i++) { %>
          <div class="modal fade" id="modal<%=i%>" tabindex="-1" aria-labelledby="modal<%=i%>Label" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal<%=i%>Label"><%=rows[i]["News Heading"]%></h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-lg-start">
                  <!-- <h5>Description</h5> -->
                  <p><%=rows[i]["Description"]%></p>
                  <em>
                  <p class="text-muted">By <%=rows[i]['Published By'] %></p>
                </em>
                
                <p class="text-muted"><%=rows[i]['Publish Date']%></p>
              </div>

                <!-- <button type="button" class="btn btn-primary">Read</button> -->
                <div class="modal-footer">
                  <a href="<%=rows[i]['Link']%>" target="_blank"><button type="button" class="btn btn-primary">Explore More</button></a>
                  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 mb-4">
            <a href="" data-mdb-toggle="modal" data-mdb-target="#modal<%=i%>">
              <div class="card">
                <div class="bg-image hover-overlay ripple d-flex" data-mdb-ripple-color="light">
                  <img src="<%=rows[i]['Cover Image']%>" class="img-fluid" style="padding: 10px" />
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis">
                    <%=rows[i]["News Heading"]%>
                  </h5>
                  <!-- <hr> -->
                  <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis">
                    <%=rows[i]["Description"]%>
                  </p>
                  <!-- <a href="#!" class="btn btn-primary">Button</a> -->
                </div>
                <!-- <div class="card-footer text-muted">Published: 20 April, 2018</div> -->
              </div>
            </a>
          </div>
          <% } %>
        </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->

  <!-- Footer -->
  <footer class="bg-light text-center"><%- include('../partials/footer'); %></footer>
  <!-- Footer -->

  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <!-- <script type="text/javascript" src="js/script.js"></script> -->
</body>

</html>