<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>
    <!-- Navbar -->


    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
                      background-image: url('./img/bg1.jpg');
                      height: 250px; margin-bottom: 50px;
                    ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Research</h1>
            <h4 class="mb-3">Breaking barriers every day</h4>
            <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->


  </header>

  <!--Main layout-->
  <main class="mt-3">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <!-- <h4 class="mb-5"><strong>In the Spotlight</strong></h4> -->

        <div class="row" data-masonry='{"percentPosition": true }'>
          <% let k=1; 
          rows.forEach(function(row) { %>

          <div class="col-lg-4 col-md-12 mb-4">
            <a href="" data-mdb-toggle="modal" data-mdb-target="#modal<%=k%>">
              <div class="card hover-shadow">
                <div class="bg-image hover-overlay ripple d-flex" data-mdb-ripple-color="light">
                  <!--style="height: 350px; object-fit: cover;"-->
                  <img src="<%=row['Image link']%>" class="img-fluid" style="padding: 15px;" />
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;"><%=row["Research problem"]%>
                  </h5>
                  <!-- <hr> -->
                  <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                    <%=row["Description"]%>
                  </p>
                  <!-- <a href="#!" class="btn btn-primary">Button</a> -->
                </div>
                <!-- <div class="card-footer text-muted">Published: 20 April, 2018</div> -->
              </div>
            </a>
          </div>

          <% k+=1; }); %>
        </div>
        <% k=1; 
          rows.forEach(function(row) { %>

        <div class="modal fade" id="modal<%=k%>" tabindex="-1" aria-labelledby="modal<%=k%>Label" aria-hidden="true" style="z-index: 4000;">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal<%=k%>Label"><%=row["Research problem"]%></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-lg-start">
                <!-- <h5>Description</h5> -->
                <p>
                  <%=row["Description"]%>
                </p>
                <span><b>Initiated on:</b> <%=row["Date"]%></span><br />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% k+=1; }); %>


      </section>
      <!--Section: Content-->

    </div>
  </main>


  </div>
  </main>
  <!--Main layout-->

  <!-- Footer -->
  <%- include('../partials/footer'); %>
  <!-- Footer -->
  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <!-- <script type="text/javascript" src="js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  <script>
    window.onload = async function() {
      const delay = (ms) => new Promise((res) => setTimeout(res, ms));
      await delay(100);
      if (window.localStorage) {
        if (!localStorage.getItem("firstLoad")) {
          localStorage["firstLoad"] = true;
          window.location.reload();
        } else localStorage.removeItem("firstLoad");
      }
    };
  </script>
</body>

</html>